.footer {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #4D8C86;
    color: #faf8f8;
    border-top: 1px solid #666;
}
    
    
    
    