.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color:#4D8C86;
    color: #e0e0e0;
  }
  
  .navbar_logo {
    display: flex;
    align-items: center;
  }
  
  .navbar_logo img {
    width: 60px;
    margin-right: .8em;
    
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar li,
  .navbar a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
  }
  
  .navbar li:hover {
    background-color: #C4172E;
    color: #FFF;
  }
  
  .navbar li:hover > a {
    color: #FFF;
  }