* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1 {
  color: #BF1B39;
  margin-bottom: 1em;
  font-size: 26px;
}

.bold {
  font-weight: bold;
  color: #353535e3;
}

